---
import { Search } from "lucide-react";
import { Sun } from "lucide-react";
import { Moon } from "lucide-react";
---

<header>
    <div class="search-bar">
        <Search />
        <input type="text" placeholder="Search" />
    </div>
    <button><Sun id="light-dark-btn" /></button>
   

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const button =
                document.querySelector<HTMLButtonElement>("#light-dark-btn");
            if (button) {
                button.addEventListener("click", () => {
                    let isSun = button.innerHTML.includes("Sun");
                    button.innerHTML = isSun ? '<Moon />' : '<Sun />';
                });
            }
        });
    </script> 
</header>
